<div id="<%= dom_id service_provision %>">
  <p>
    <strong>Name:</strong>
    <%= service_provision.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service_provision.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service_provision.status %>
  </p>

  <p>
    <strong>Quota:</strong>
    <%= service_provision.quota %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= service_provision.comment %>
  </p>

  <p>
    <strong>Service provision:</strong>
    <%= service_provision.service_provision_id %>
  </p>

</div>
